@font-face {
  font-family: "Utopia-Regular";
  src: url(font/Utopia-Regular.otf) format(otf);
}
@font-face {
  font-family: "FontsFree-net-GothamNarrowBook";
  src: url(font/FontsFree-Net-GothamNarrowBook.ttf) format(truetype);
}
* {
  margin: 0;
  padding: 0;
}
.headpara {
  text-decoration: none;
  text-align: center;
  position: relative;
  color: white;
  list-style-type: none;
}
.head {
  background-color: #7796a8;
  padding: 10px;
  font-size: 1em;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
header .head:hover {
  background-color: #adb9c1;
}
#navigation-bar {
  display: flex;
}
.navlogo {
  width: 12rem;
  cursor: pointer;
  padding-top: 15px;
  padding-left: 25px;
}
